.DS_Store
/.vs/c2018/v15
/level1/p01_runningLetter/running letter/.vs/running letter/v15
/.vs
/level1/p02_isPrime/isPrime/.vs/isPrime/v15
/level1/p03_Diophantus/Project1
/level1/p03_Diophantus/diufantu/.vs/diufantu/v15
/level1/p04_ narcissus/shuixianhua/.vs/shuixianhua/v15
/level1/p04_ narcissus/shuixianhua/Debug
/level1/p05_allPrimes/1000prime/.vs/1000prime/v15
/level1/p06_Goldbach/gedebahe/.vs/gedebahe/v15
