.DS_Store
/level1/p01_runningLetter/Project1/.vs/Project1/v15
/level1/p01_runningLetter/Project2/.vs/Project2/v15
/level1/p01_runningLetter/Running letter/.vs/Running letter/v15
/.vs
/level1/p01_runningLetter/runningLetter/.vs/runningLetter/v15
/Allisprime/.vs/Allisprime/v15/ipch/AutoPCH
/Allisprime/.vs/Allisprime/v15
/Allisprime/Allisprime/Allisprime.vcxproj
/Allisprime/Allisprime/Allisprime.vcxproj.filters
/Allisprime/Allisprime/Allisprime.vcxproj.user
/Allisprime/Allisprime.sln
/Allisprime/Allisprime
/level1/p03_Diophantus/Diophantus/.vs/Diophantus/v15/ipch/AutoPCH/d43f410a92f95bdd
/level1/p03_Diophantus/Diophantus/.vs/Diophantus/v15
/level1/p03_Diophantus/Diophantus/Diophantus/Diophantus.vcxproj
/level1/p03_Diophantus/Diophantus/Diophantus/Diophantus.vcxproj.user
/level1/p03_Diophantus/Diophantus/Diophantus/Diophantus.vcxproj.filters
/level1/p03_Diophantus/Diophantus/Diophantus.sln
/Goldbach/.vs/Goldbach/v15
/Goldbach/Goldbach/Goldbach.vcxproj
/Goldbach/Goldbach/Goldbach.vcxproj.filters
/Goldbach/Goldbach
/Goldbach
/level1/p04_ narcissus/narcissus/.vs/narcissus/v15
/level1/p04_ narcissus/narcissus/narcissus/narcissus.vcxproj
/level1/p04_ narcissus/narcissus/narcissus/narcissus.vcxproj.filters
/level1/p04_ narcissus/narcissus/narcissus/narcissus.vcxproj.user
/level1/p04_ narcissus/narcissus/narcissus.sln
/level1/p02_isPrime/isprime/.vs/isprime/v15
/level1/p02_isPrime/isprime/isprime/isprime.vcxproj
/level1/p02_isPrime/isprime/isprime/isprime.vcxproj.filters
/level1/p02_isPrime/isprime/isprime/isprime.vcxproj.user
/level1/p02_isPrime/isprime/isprime.sln
