.DS_Store
/level1/p01_runningLetter/runningletter/.vs/runningletter/v15
/level1/p02_isPrime/IsPrime/IsPrime/.vs/IsPrime/v15
/.vs/c2018/v15/ipch/AutoPCH/f839a958f9458505
/level1/p03_Diophantus/Diophantus/.vs/Diophantus/v15
/.vs/c2018/v15
/level1/p04_ narcissus/narcissus/.vs/narcissus/v15
/level1/p05_allPrimes/AllPrimes/.vs/AllPrimes/v15/ipch/AutoPCH/9e1f479482b39688
/level1/p05_allPrimes/AllPrimes/.vs/AllPrimes/v15
